*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    
}

main{
    height: 100%;
    width: 100%;
   

}
nav{
    height: 13%;
    /* background-color: red; */
}
.navi{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.content-1 {
    width: 100%;
  
   
}
.content-1 > img{
    width: 100%;

}
.layer{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);


}
.layer > h1{
    font-size: 45px;
    font-weight: 900;
}
.layer > h1 > span{
 color: rgb(222, 40, 40);
}
.layer > p{
 padding: 3% 0;
 font-size: 18px;
 font-weight: 500;
}
.layer > button{
    padding: 2% 4%;
    background-color:rgb(211, 155, 155);
    color: white;
    border: none;
    border-radius: 5px;
}